@media (max-width: 768px) {
  .Results__component {
    margin: 0 24px; } }

.ResultsHeader__component {
  display: flex;
  margin-top: 8px; }
  .ResultsHeader__component > p {
    flex: .8;
    margin-top: 38px; }
  .ResultsHeader__component > form {
    flex: .2; }
  @media (max-width: 768px) {
    .ResultsHeader__component {
      flex-direction: column; } }

@media (max-width: 768px) {
  .ResultsHeader__total {
    order: 2; } }

@media (max-width: 768px) {
  .ResultsHeader__sort {
    width: 100% !important;
    order: 1; } }

.Results__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .Results__container {
      flex-wrap: none;
      justify-content: flex-start;
      flex-direction: column; } }

.ResultItem__component {
  width: 32%;
  margin: 16px 0; }
  .ResultItem__component a {
    text-decoration: none; }
  .ResultItem__component a:hover {
    text-decoration: underline; }
  @media (max-width: 768px) {
    .ResultItem__component {
      width: 100%; } }

.ResultItem__featured {
  background-color: #83B2BF;
  overflow: hidden;
  width: 100%;
  display: block;
  height: 260px;
  background-repeat: none;
  background-size: cover; }

@media (max-width: 769px) {
  .ResultItem__excerpt {
    display: none; } }

.ResultItem__categories {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .ResultItem__categories {
      display: none; } }

.ResultItem__chip {
  margin: 5px !important; }

.ResultItem__overlay {
  display: flex;
  justify-content: space-between; }
  .ResultItem__overlay > p {
    margin: 0;
    line-height: 32px; }

.ResultItem__type__chip {
  max-height: 32px; }

.ResultsPagination__component {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 36px 0; }
  .ResultsPagination__component > li {
    display: list-item;
    margin-right: 32px;
    text-align: center; }
    @media (max-width: 756px) {
      .ResultsPagination__component > li {
        margin-right: 0;
        padding: 0 5px; } }
  .ResultsPagination__component .ResultsPagination__disabled {
    cursor: default;
    opacity: 0.2;
    text-decoration: none; }

.Results__no__results {
  text-align: center;
  display: block;
  width: 100%; }
