@import "../../assets/styles/colors.scss";

.results {
  margin-top: 8em;
  @media screen and (min-width: 768px) {
    margin-top: 5em;
  }


  &_wrapper {
    
    &.ui.grid {
      @media screen and (max-width: 425px) {
        margin: 0;
      }
    }
  }

  &_noResults {
    display: block;
    width: 900px;
    margin: 0 auto;
    i {
      text-align: center;
      display: block;
      padding: 3em 0;
    }
  }

  &_help {
    margin: 0 auto 5em;
    &--suggestions {
      margin-top: 3em;
      h3 {
        font-size: 1.5em;
        color: $blue;
      }
    }
  }
}

