.Results__no__results {
  text-align: center;
  display: block;
  width: 100%;
  padding: 64px 0;
}

.results_wrapper {
  &.ui.grid {
    @media screen and (max-width: 425px) {
      margin: 0;
    }
  }
}
