.ResultsHeader__component {
  display: flex;
  margin-top: 80px;
  & > p {
    flex: 0.8;
    margin-top: 38px;
  }
  & > form {
    flex: 0.2;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.ResultsHeader__total {
  @media (max-width: 767px) {
    order: 2;
  }
}
.ResultsHeader__sort {
  @media (max-width: 767px) {
    width: 100% !important;
    order: 1;
  }
}

/******************
    TEMP
*******************/
.ResultsHeader__component {
  .ui.form .fields.results_sort {
    margin: 0;

    .field {
      flex: 1;
    }

    label {
      margin: 0;
      color: #b2b4b8;
      font-weight: normal;
    }

    .ui.selection.dropdown {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      border: none;
      border-bottom: 1px solid #000;
      border-radius: 0;

      .dropdown.icon {
        padding-right: 0;
      }

      &.active {
        box-shadow: none;

        .menu {
          border-radius: 0;
          border-color: transparent;
        }
      }
    }
  }
}
