.results {
  margin-top: 8em;
  @media screen and (min-width: 768px) {
    margin-top: 5em;
  }


  &_wrapper {
    
    &.ui.grid {
      @media screen and (max-width: 425px) {
        margin: 0;
      }
    }
  }


  &_noResults {
    display: block;
    width: 100%;
    padding: 64px 0;
    text-align: center;
  }
}

