.ResultsPagination__component {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 36px 0;
  @media (max-width: 756px) {
    justify-content: space-evenly;
  }
  & > li {
    display: list-item;
    margin-right: 32px;
    text-align: center;
    @media (max-width: 756px) {
      margin-right: 0;
      padding: 0 5px;
    }
  }
  & > li > a {
    text-decoration: none;
  }
  .ResultsPagination__disabled {
    cursor: default;
    opacity: 0.2;
    text-decoration: none;
  }
  .ResultsPagination__active {
    font-weight: bold;
  }
}
