@import "../../../assets/styles/colors.scss";

.modal {

  .ui.toggle.checkbox label {
    padding-left: 3.6rem;
    padding-top: 0;
  }

  .ui.toggle.checkbox input:focus ~ label:before {
    background-color: $medium-grey;
  }

  .ui.toggle.checkbox label:before {
    background-color: $medium-grey;
    width: 3rem;
    height: 1.2rem;
  }

  .ui.toggle.checkbox input:checked ~ label:before {
    background-color: $blue !important;
  }

  .ui.toggle.checkbox label:after {
    border: 1px solid $medium-grey;
    width: 1.2rem;
    height: 1.2rem;
  }

  .ui.toggle.checkbox input:checked ~ label:after {
    left: 1.8rem;
  }

  /* Safari hack */
  &.ui .close:not(:root:root) {
    position: relative !important;
    float: right;
  }

  &.ui .close {    
    top: 0;
    right: 5px !important;
    left: auto;    
    color: #000;
    font-size: 2em;
    @media only screen 
    and (min-width: 768px)
    and (max-width: 1024px)
    and (orientation: landscape) {
      position: relative !important;
      float: right;
    }
    @media screen and (max-width: 1023px) {
      top: -5px !important;
      right: 5px !important;
      left: auto;    
      color: #000;
    }
    /* IE 10+ */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      top: 0 !important;
      right: 15px !important;
      left: auto;
      color: #fff;
      @media screen and (min-width: 1225px) {
        right: 10% !important;
      }
      @media screen and (max-width: 1024px) {
        top: 3px !important;
        color: #000;
      }
    }
    /* IE Edge */
    @supports (-ms-ime-align: auto) {
      top: 0 !important;
      right: 15px !important;
      left: auto;
      color: #fff;
      @media screen and (min-width: 1225px) {
        right: 10% !important;
      }
      @media screen and (max-width: 1024px) {
        top: 3px !important;
        color: #000;
      }
    }
  }

  &_section {
    margin-top: 1em;

    &--metaContent {
      margin-top: 1em;
    }    
  }

  &_headline {
    color: $blue;
    @media screen and (max-width: 767px) {
      width: 95%;
    }
  }

  &_languages {
    margin-right: 2em;
  }

  &_options {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    height: 1.8em;

    &_share {
      > span:first-child {
        margin-right: 0.5em;
      }

      > span {
        display: inline-block;
        vertical-align: bottom;
        float: none !important;
      }

      .ui.button.trigger > img {
        width: 23px;
        height: 23px;
      }
    }   
  }


  &_thumbnail {
    
    img {
      width: 100%;
    }
  }
  
}