.landingpage .ui.nav.menu {
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.landingpage .ui.nav.menu .search_bar {
  display: none;
}

.landingpage .ui.nav.menu .title {
  display: none;
}