@import "../../assets/styles/colors.scss";

.filterMenu {
  &_selections {
    max-height: 0;
    margin-top: 1em;
    margin-bottom: 3em;
    //opacity: 0;
    transition: opacity 0.8s ease, max-height 1s ease;

    &.display {
      max-height: 1000px;
      opacity: 1;
    }

    .ui.label {
      margin: 0.14285714em;
      font-weight: 100;

      &:not(.clear_filter) {
        border: 1px solid #d6d7d9;
        background-color: #fff;
      }
    }

    .clear_filter {
      color: $light-blue;
      background-color: #fff;
      cursor: pointer;
    }
  }
}
