@import "../../../assets/styles/colors.scss";

.dashboard {
  .userIcon {
    height: 3em;
    width: 3em;
  }

  .currentDashboard {
    color: $blue;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    text-transform: capitalize;
    vertical-align: top;
    line-height: 3em;
  }

  .filters {
    margin-top: 0.8em;
  }

  .ui.text.menu {
    margin-top: 0.4em;
  }

  .ui.text.menu .active.item {
    font-weight: bold;
    color: $blue;
  }

  .ui.segment {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .ui.text.menu .item {
    color: $medium-grey;
    margin-right: 1em;
  }
}