@import "../../../assets/styles/colors.scss";

.items {
  
  &_menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: $blue;

    &_wrapper {
      text-align: right;
    }

    &.active::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -5px;
      width: 100%;
      height: 3px;
      background-color: $blue;
    }

    &_list {
      position: absolute;
      left: -5px;
      top: 100%;
      z-index: 3;
      display: none;
      width: 100%;      
      padding: 5px;
      margin-top: 3px;
      border: 1px solid #ccc;
      text-align: left;
      background: #fff;

      &.display {
        display: block;
      }

      .ui.checkbox {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}