@import "../../../assets/styles/colors.scss";

section.resultsPagination {
  margin: 4em 0;
  text-align: center;
}
.ui.pagination.menu {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.ui.pagination.menu .item:before {
  background: white;
}
.ui.pagination.menu a.item[type="prevItem"], .ui.pagination.menu a.item[type="nextItem"] {
  color: $light-blue;
  font-weight: bold;
}
.ui.pagination.menu a.disabled.item {
  color: $alt-grey;
}
.ui.pagination.menu a.active.item[type="pageItem"] {
  color: white;
  font-weight: bold;
  background: $light-blue;
}
.resultsPagination *:focus {
  outline: none;
}