@import "../../../assets/styles/colors.scss";

.nav_submenu {
  min-width: 240px;
  font-size: 16px;
  
  &_popup.ui.popup {
    padding: 0;
    border-radius: 0;
    border: none;

    &:before {  
      top: -8px !important;      
      transform: translateX(-50%);
      -ms-transform: rotate(5deg) !important;
      width: auto;
      height: auto;
      margin-left: 0 !important;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #00a6d2;
      background: transparent !important;
      box-shadow: none !important;
      @media screen and (max-width: 330px) {
        right: 1.25em !important;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 5px;
      background-image: linear-gradient(
        90deg,
        $light-blue 3%,
        $bright-blue 100%
      );
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid $alt-grey;
        
    &_item {
      margin: 0;
      color: $blue;

      &--title {
        font-weight: bold;  
      }      
    }

    a:hover {
      color: $light-blue;
    }
  }

  &_section {
    padding: 15px;
    
    &:not(&--logout) {
      border-bottom: 1px solid $light-grey;

    }

    &--logout {
      background-color: $light-blue;

      a, a:hover {
        font-weight: bold;
        color: #fff;  
      }      
    }
  }

  &_item {
    display: block;
    color: $blue;
    
    &:hover {
      color: $light-blue;
    }

    &--margin {
      margin-bottom: 15px;
    }

    &--profile_settings,
    &--profile_settings:hover {
      color: $alt-grey;
      cursor: default;
    }
    
  }
}


