@import "../../../assets/styles/colors.scss";

.items_table {

  .ui.sortable.table thead tr th {
    position: sticky;
    top: 0;
    width: 150px;
    border-right: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    background-color: $light-blue;
    cursor: pointer;        
    
    &:first-child {
      z-index: 2;
      box-shadow: 1px 0 3px 1px rgba(0,0,0,0.1);
    };

    &:hover, 
    &.sorted:hover {
      color: #fff;
      background: $matisse-blue;
    }

    label {
      color: #fff;
    }    
  }
}