.downloadPopup {


  &_wrapper {    
    min-height: 425px;

  	&.ui.popup {
  	  min-width: 540px;  	        
  	  border-radius: 0;
      border: none;
      padding: 20px;

      /*
      &:before {
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid $light-blue;        
        box-shadow: none !important;
        background: none;
      }
      
      &:after {
        content: '';
        display: block;
        padding-bottom: 5px;
        margin: -1em;
        background-image: linear-gradient(90deg, #0071bc 3%, #02bfe7 100% );
      }

      &.right.center {         

        &:before {
          left: -15px;
          transform: rotate(90deg);
        }

        &:after {

        }
      }      

      &.top.left:after {
        content: '';
        display: block;
        padding-bottom: 5px;
        background-image: linear-gradient(90deg, #0071bc 3%, #02bfe7 100% );
      }
      */
  	}
  }

	
  &_title {
  	margin-bottom: 1em;
    font-size: 24px;
    color: $blue;
  }  
 
 	
  &_menu_wrapper {
  	display: flex;
  	justify-content: center;  	
  }


  &_menu {
  	display: flex;
  	justify-content: space-around;
  	width: 100%;
  	
  	margin: 5px 0 0 0;
  	list-style: none;  	

  	&_item {
  	  font-size: 16px;
  	  font-weight: 700;
  	  color: $blue;
  	  cursor: pointer;

  	  &--last {
  	  	font-weight: 100;
  	  }
  	}
  }


  &_content {

    &_info {
      font-size: 12px;
  	  font-style: italic;
  	  color: $grey;
  	}

  	&_item {
  	  display: none;

  	  &--show {
  	  	display: block
  	  }
  	}

  }

  .hover_slider {
    position: relative;

    .slider {
      position: absolute;
      top: -2px;
      margin: 0;
      border: 2px solid $light-blue;
      transition: all .3s ease-in-out;
    }

    .non_slider {
 	    margin: 5px 0;
  	  border: none;
  	  border-top: 1px solid #d6d7d9;   
    }

  }
}