@import "../../assets/styles/colors.scss";

.ui.button.trigger {
  padding: 2px;
  background: #fff;
  cursor: pointer;
}

.popupElem {
  
  &_wrapper {
    min-height: 425px;

    &.ui.popup {
      min-width: 540px;
      border-radius: 0;
      border: none;
      padding: 20px;

      &:before {  
        top: -8px !important;
        right: 0.5em !important;
        left: auto !important;
        transform: initial;
        -ms-transform: rotate(5deg) !important;
        width: auto;
        height: auto;        
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $bright-blue;
        background: transparent !important;
        box-shadow: none !important;
        @media screen and (max-width: 330px) {
          right: 1.25em !important;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 5px;
        background-image: linear-gradient(
          90deg,
          $light-blue 3%,
          $bright-blue 100%
        );
      }

      &.bottom.right,
      &.bottom.left {
        &:after {
          top: 0;
        }
      }
    }

    &--mobile {

      &.ui.popup {
        position: absolute;
        min-width: 300px;
        max-width: 300px;        
        width: 100%;
        @media screen and (max-width: 330px) {
          left: 10px !important;
        }
      }
    }

    .ui.header {
      margin-bottom: 1em;
      color: $blue;
      font-weight: normal;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    .ui.segment {
      max-height: 300px;
      padding: 1em 0;
      margin: 0;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      box-shadow: none;

      .tab_instructions {
        color: $grey;
        font-style: italic;
        font-size: 0.857em;
        margin-bottom: 2em;
      }

      .item {
        @media screen and (max-width: 767px) {
          margin: 0;

          .content {
            padding: 0 !important;
          }
        }
      }
    }

    .simpleTabs > .ui.secondary.menu {
      justify-content: left;
    }

    .noTabsMenu > .ui.secondary.menu {
      display: none;
    }

    .ui.secondary.menu {
      border-bottom: 1px solid $alt-grey;
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0;
      @media screen and (max-width: 767px) {
        justify-content: flex-start;
      }

      .item {
        font-size: 1.143em;
        font-weight: 700;
        color: $blue;
        padding: 8px 15px;
        position: relative;
        border-radius: 0;
        margin: 0;
        @media screen and (max-width: 767px) {
          font-size: 1em;
          padding: 5px;
        }

        &:last-child {
          font-weight: normal;
          position: absolute;
          right: 15px;
        }

        &:hover {
          background: none;
        }
      }

      .active.item {
        background: none;
      }
    }

    .slider {
      position: relative;
      left: 0;
      top: 41px;
      z-index: 1;
      border: none;
      height: 4px;      
      background: $light-blue;
      transition: all 0.3s ease-in-out;
    }

  }
}
