@import "../../../assets/styles/colors.scss";

.results_toggleView {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 767px) {
    z-index: 3;
    margin-top: 1em;
  }

  span {
    margin: 0;
  }

  .icon {
    font-size: 2em;
    cursor: pointer;

    &.active {
      color: $medium-grey;
      cursor: default;
    }
  }
}
