@import "../../../assets/styles/colors.scss";

.results_toggleView {
  @media screen and (max-width: 767px) {
    z-index: 3;
    margin-top: 1em;
  }


  .icon {
    font-size: 2em;
    cursor: pointer;

    &.active {
      color: $medium-grey;
      cursor: default;
    }
  }

}