@import "../../assets/styles/colors.scss";

.title,
.title:hover {
  color: $blue;
  @media screen and (min-width: 641px) {
    font-size: 60px;
  }
}


.title_wrapper {
  
  &--header {
    position: relative;

    > .title {
      margin-left: 27px;
    }
  }

}


.title_seal {
  
  &--landing {
    display: block;
    margin: 0 auto 1em auto;
  }

  &--header {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}