@import "../../../assets/styles/colors.scss";

.shareSocial {
  .logos {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 25px;

    .ui.image {
      &.tiny {
        height: 80px;
      }
    }
  }

  .ui.input {
    &.disabled {
      display: flex;
      justify-content: space-around;
      color: #000;
      opacity: 1;
    }

    input {
      flex: 0.5;
      border: none;
      border-radius: 0;
      text-align: center;
      background-color: $light-grey;
    }
  }
}
