@import "../../assets/styles/colors.scss";

.cdp_static_page {
  max-width: 1200px;
  margin: 4em auto;
  font-size: 18px;

  h1.ui.header {
    font-size: 4em;
    text-align: center;
    padding: 1em 0;
    color: $blue;
    @media screen and (max-width: 425px) {
      font-size: 3em;
    }

    .sub.header {
      font-size: 0.6em;
      color: $blue;
    }
  }  


  h2, h3, h4 {
    color: $blue;
  }


  blockquote {
    text-align: center;
    margin: 3em 0;
  }


  ul {
    line-height: 1.4285em;
  }
}