@import "assets/styles/colors.scss";

.register {
  &_wrapper {
    max-width: 380px;
    padding: 30px;
    margin: 0 auto;
    color: $blue;
  }

  h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid $alt-grey;
    text-align: center;
  }
}
