.HeaderBar__component {
  background-image: url('../../assets/iip_logo_white.png');
  background-position-y: 7px;
  background-position-x: 24px;
  background-size: 128px;
  background-repeat: no-repeat;
  cursor: pointer;
}
