.HeaderBar__component {
  background-image: url('../../assets/iip_logo_white.png');
  background-position-y: 7px;
  background-position-x: 24px;
  background-size: 128px;
  background-repeat: no-repeat;
  cursor: pointer;
}


/****************** 
	TEMP 
*******************/
.ui.header .sub.header {
  margin-bottom: 30px;
}


/* Dropdown */
.ui.selection.dropdown.search_dropdown {
  padding-right: 1em;
  border: none;
  border-radius: 0;
  background-color: none;
  background-image: linear-gradient(60deg, #0071bc 2%, #02bfe7 100% );	

  > .text,
  .chevron.down {
    color: #fff;
  }
  
  .chevron.down {
  	float: right;
  }

  &.visible {  	

  	> .text {
  	  color: #fff;		
  	}

    &:hover {
      background-color: inherit;
      background-image: linear-gradient(60deg, #0071bc 2%, #02bfe7 100% );
	}
  }
}


/* Form */
.ui.form {
  
  .fields > .field {
  	padding-left: 0;
  	padding-right: 0;

  	input[type='text'],
  	.ui.button {  	
  	  border: 2px solid #02bfe7;
  	  border-radius: 0;
  	}

  	&.search_input {
  	  width: 100%;
  	}

  	input[type='text'] {  	  
  	  border-right: none;
  	}

  	.ui.button {
  	  border-left: none;
  	  background-color: #fff;
  	  color: #0071bc;
  	}

  }

}

/****************** 
	END TEMP 
*******************/