@import "../../../assets/styles/colors.scss";

.modal_meta {
  
  
  &_wrapper {
    display: flex;
    justify-content: space-between;
  }


  &_content {
    display: block;
    font-size: 12px;
    color: $shuttle-grey;
  }


  


}