@import "../../assets/styles/colors.scss";

.recents {
  margin-bottom: 6em;
}
.recents h1.header {
  color: $blue;
}
.recentsleft {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  @media screen and (max-width: 767px) {
    height: 300px;
  }
}
.recentsoverlay {
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: auto; 
  color: white; 
  font-size: 3em; 
  padding: 0.5em;
  line-height: 1em;
  text-shadow: 
    -1px -1px 0 rgba(0,0,0,0.3),
    1px -1px 0 rgba(0,0,0,0.3),
    -1px 1px 0 rgba(0,0,0,0.3), 
    1px 1px 0 rgba(0,0,0,0.3);
}
.ui.items.rightitems {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.ui.items .item {
  border: 1px solid $light-grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  @media screen and (max-width: 767px) {
    padding: 1em;
  }
}
.recents .ui.items .item .image {
  @media screen and (max-width: 767px) {
    max-height: inherit!important;
  }
}
.ui.items .item .content {
  padding: 1em;
  position: relative;
}
.recents .ui.items .item .content .header {
  color: $blue;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 2.2em;
}
.recents .ui.items .item .content .meta {
  position: absolute;
  bottom: 0em;
  line-height: 1.2em;
  margin-bottom: 1em;
}
.recents .ui.items .item .content .meta .date {
  display: block;
  color: $blue;
}
.recents .ui.items .item .content .meta .categories {
  display: block;
  color: $grey;
}