@import "../../assets/styles/colors.scss";

.recents {
  margin-bottom: 6em;
}
.ui.grid .column.recentsgridleft {
   padding-right: 0;
   padding-bottom: 0;
   min-height: 320px; 
}
.recents h1.header {
  color: $blue;
}
.recentsleft {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  @media screen and (max-width: 767px) {
    height: 300px;
  }
}
.recentsItem {
  cursor: pointer;
}
.recentsoverlay {
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  bottom: 0;
  width: 100%;
  height: auto; 
  color: white; 
  font-size: 3em; 
  padding: 0.5em;
  line-height: 1em;
  text-shadow: 
    -1px -1px 0 rgba(0,0,0,0.3),
    1px -1px 0 rgba(0,0,0,0.3),
    -1px 1px 0 rgba(0,0,0,0.3), 
    1px 1px 0 rgba(0,0,0,0.3);
}

.recentsoverlay_title {
  width: 80%;
}

.recentsoverlay_icon {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.recentsgridright {
  
  .ui.items {
    height: 100%;

    .item {
      height: 50%;
    }
  } 
}

.ui.items .item {
  border: 1px solid $light-grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  @media screen and (max-width: 767px) {
    padding: 1em;
  }
}
.recents .ui.items .item .image {
  background: $light-grey;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    max-height: inherit!important;
  }
}
.recents .ui.items .item .image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ui.items .item .content {
  padding: 1em;
  position: relative;
}
.recents .ui.items .item .content .header {
  color: $blue;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 2.2em;
}
.recents .ui.items .item .content .meta {
  position: absolute;
  bottom: 0em;
  line-height: 1.2em;
  margin-bottom: 1em;
}
.recents .ui.items .item .content .meta .date {
  display: block;
  color: $blue;
}
.recents .ui.items .item .content .meta .categories {
  display: block;
  color: $grey;
}
.recents .ui.items .item .content .meta .metaicon {
  position: absolute;
  left: -4.3em;
  bottom: -0.4em;
}