@import "../../assets/styles/colors.scss";

.recents {
  margin-bottom: 6em;

  &title {
    display: flex;
    justify-content: space-between;

    .browseAll {
      position: relative;
      top: 0.5em;
    }
  }

  &left {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (max-width: 767px) {
      height: 300px;
    }
  }

  .ui.stackable.grid > .column.recentsgridleft,
  .ui.stackable.grid > .column.recentsgridright {
    @media screen and (max-width: 767px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &gridleft {
    &.column {
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      min-height: 320px;
    }
  }

  &gridright {
    .ui.items {
      height: 100%;

      .item {
        height: 50%;
        @media screen and (max-width: 767px) {
          height: auto;
        }
      }
    }
  }

  &overlay {
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    );
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    font-size: 3em;
    padding: 0.5em;
    line-height: 1em;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3),
      -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3);

    &_title {
      width: 80%;
    }

    &_icon {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
  }

  h1.header {
    color: $blue;
  }
}

.ui.items .item.recentsItem {
  border: 1px solid $light-grey;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .recentsItem_img {
    position: relative;
    min-width: 195px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media screen and (max-width: 767px) {
      min-height: 195px;
      height: 100%;
    }

    .metaicon {
      position: absolute;
      right: 5px;
      bottom: 10px;
    }
  }

  .content {
    position: relative;
    padding: 1em;

    .header {
      margin-bottom: 2.2em;
      font-size: 1.5em;
      line-height: 1.2em;
      color: $blue;
      @media screen and (max-width: 991px) {
        font-size: 1em;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 1em;
      }
    }

    .meta {
      position: absolute;
      bottom: 0em;
      margin-bottom: 1em;
      line-height: 1.2em;
      @media screen and (max-width: 991px) {
        position: relative;
      }

      .date {
        display: block;
        color: $blue;
      }

      .categories {
        display: block;
        color: $grey;
        @media screen and (max-width: 991px) {
          font-size: 0.8em;
        }
      }
    }
  }
}
