@import "../../assets/styles/colors.scss";

.filterMenu {
  

  &.subMenuActive {
    background-color: $light-blue;

    .filterMenu_label {
      color: #fff;
    }
  }

  &_label {
    position: relative;
    display: block;
    padding: 1em 1em 8px 1em;
    font-size: 16px;    
    text-align: center;
    color: $blue;
    cursor: pointer;

    .icon {      
      font-size: 0.5em;       

      &::before {
        display: inline-block;
      }
    }

    &:hover,
    &.active {
      font-weight: 700;
      
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
        border-bottom: 3px solid $blue;
      }
    }

    &:focus {
      outline: 0;
    }  
  }


  &_options {  
    z-index: 3;
    background-color: #fff;    

    &.ui.form {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 4;
      width: 100%;
      display: none;      
      padding: 6px 0 12px 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

      &.show {
        display: block;
      }

      .fields {
        flex-direction: column;
        margin: 0;
        padding: 0 12px;

        .field {
          margin: 5px 0 0 3px;
        }
      }
    }
  }
  
}