@import '../../assets/styles/colors.scss';

header {
  text-align: center;
}

.bar {
  background: url('../../assets/images/cdp_home_hero.jpg');
  background-size: cover;
  margin-bottom: 3em;

  header {
    padding: 10em 0 1em;
    @media screen and (max-width: 767px) {
      padding: 4em 0 2em;
    }
  }

  nav {
    @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
      padding: 0;
      width: 100%;
    }
  }

  nav .content.icon {
    color: white;
  }

  nav .ui.menu .item,
  nav .ui.menu .item:last-child {
    color: white;
    border-radius: 0;
  }

  nav .ui.menu .item:not(.feedback):hover {
    color: white;    

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }

  .title,
  .title:hover {
    color: white;
  }

  .search_bar {
    margin: 3em auto;
  }

  h1.ui.header .sub.header.subtitle {
    font-size: 1em;
    color: white;
    margin: 0.5em 0;
  }

  h1.ui.header .sub.header.subtext {
    margin: 0;
    font-size: 18px;
    color: white;
  }
}

.resultsbar,
.videobar {
  background-image: linear-gradient(60deg, $light-blue 2%, $bright-blue 100%);
  border: none;
  border-radius: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;

  header {
    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }

  header a,
  header a:hover {
    color: #fff;
    font-size: 1.5em;
  }

  .search_bar {
    @media screen and (min-width: 768px) {
      padding: 0.6em;
      width: 400px;
      float: center;
    }
    @media screen and (min-width: 900px) {
      width: 500px;
    }
    width: 100%;
    padding: 0.8em 0;
    box-shadow: none;
  }

  .search_bar .fields {
    margin: 0;
  }
}

.aboutbar,
.helpbar,
.privacybar,
.contactbar {
  background: white;
  border: none;
  border-radius: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.resultsbar .ui.container,
.videobar .ui.container,
.bar .ui.container,
.aboutbar .ui.container,
.helpbar .ui.container,
.privacybar .ui.container,
.contactbar .ui.container {
  @media screen and (min-width: 768px) {
    width: 1600px;
  }
  position: relative;
}

.resultsbar h1.ui.header,
.videobar h1.ui.header,
.aboutbar h1.ui.header,
.helpbar h1.ui.header,
.privacybar h1.ui.header,
.contactbar h1.ui.header {
  @media screen and (min-width: 768px) {
    float: left;
    padding-top: 0.3em;
  }
  margin: 0;
  padding: 0;
  text-align: left;
}

.resultsbar .header .title,
.videobar .header .title,
.aboutbar .header .title,
.helpbar .header .title,
.privacybar .header .title,
.contactbar .header .title {
  padding: 0;
  font-size: 0.8em;
  @media screen and (min-width: 768px) {
    font-size: 1em;
    padding: 0.5em;
    padding-left: 0;
  }
}

.resultsbar .sub.header.subtitle,
.resultsbar .sub.header.subtext,
.videobar .sub.header.subtitle,
.videobar .sub.header.subtext,
.aboutbar .sub.header.subtitle,
.aboutbar .sub.header.subtext,
.helpbar .sub.header.subtitle,
.helpbar .sub.header.subtext,
.privacybar .sub.header.subtitle,
.privacybar .sub.header.subtext,
.contactbar .sub.header.subtitle,
.contactbar .sub.header.subtext {
  display: none;
}

.aboutbar .search_bar,
.helpbar .search_bar,
.privacybar .search_bar,
.contactbar .search_bar {
  display: none;
}
