.resultspage header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.resultspage main.ui.container {
  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
  margin-top: 210px;
}