@import "../../assets/styles/colors.scss";

.clipboardcopy {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: 0;
  }

  &_wrapper {
    margin: 2em 0;
  }

  &_label {
    position: absolute;
    top: 7px;
    right: 0;
    width: 100%;
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: bold;
    @media screen and (min-width: 768px) {
      text-align: right;
    }
    @media screen and (max-width: 767px) {
      position: relative;
      font-size: 12px;
      top: 0;
    }

    &_wrapper {
      position: relative;
      min-width: 100px;
    }
  }

  &_item {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: $light-grey;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    &_text {
      padding: 10px;
      font-family: Monaco, Consolas, "Courier New", Courier;
      font-size: 0.9em;
      color: #7d8792;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }

    .ui.button {
      border-radius: 0;
      background-color: $light-blue;
      transition: background-color 0.5s ease-out;
      width: 17.5em;

      &.copied {
        background-color: $light-grey;
        color: $light-blue;
      }
    }
  }

  &_info {
    display: block;
    margin-left: 140px;
    font-size: 12px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}
