@import "../../assets/styles/colors.scss";

.clipboardcopy {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: 0;
  }

  &_wrapper {
    margin-bottom: 25px;
  }

  &_label {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: bold;
    @media screen and (min-width: 768px) {
      text-align: right;
    }
    @media screen and (max-width: 767px) {
      position: relative;
      font-size: 12px;
    }

    &_wrapper {
      position: relative;
      min-width: 100px;
    }
  }

  &_item {
    display: flex;
    justify-content: space-between;
    flex: 1;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }

    .ui.input {
      flex: 1;
      color: #000;

      &.disabled {
        opacity: 1;
      }

      input {
        border-radius: 0;
        border: none;
        background-color: $light-grey;
      }
    }

    .ui.button {
      position: relative;
      border-radius: 0;

      &.copied:after {
        content: "COPIED!";
        position: absolute;
        top: 0;
        right: 50%;
        display: block;
        margin-right: -33px;
        padding: 8px;
        background-color: $light-grey;
        color: $light-blue;
        opacity: 0;
        animation: showCopied 1.5s ease;
      }
    }
  }
}

@keyframes showCopied {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  70% {
    opacity: 1;
    transform: translateY(-10%);
  }

  100% {
    opacity: 0;
    transform: translateY(-15%);
  }
}
