@import '../../../assets/styles/colors.scss';

.trigger-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.popupElem_wrapper {
  .form-group_instructions {
    color: $grey;
    font-style: italic;
    font-size: 0.857em;
    margin-bottom: 2em;
  }

  .ui.items > .item > .content > .header {
    color: $light-blue;
    font-size: 1.1em;

    .lightweight {
      font-weight: 300;
    }
  }


  .ui.mini.image {
    width: 20px;
    height: 20px;
  }


  @media only screen and (max-width: 767px) {
    .ui.items.download-item > .item > .ui.mini.image,
    .ui.items.download-item > .item > .ui.mini.image > img {
      width: 20px !important;
      margin-left: 0;
      margin-right: 0;
    }

    .ui.items.download-item > .item {
      flex-direction: row;
    }

    .ui.segment .ui.items.download-item .item .content {
      padding: 0 0 0 1em !important;
    }
  }


  .ui.items > .item .meta {
    font-style: italic;
  }


  .download-item {
    position: relative;
    padding: 1em 1em 1em 1.2em;
    border: 1px solid $light-grey;    
    box-shadow: -1px 5px 10px -11px rgba(0, 0, 0, 0.75);

    .item {

      &:hover {
        .item_hover,
        &:after {
          opacity: 1;
        } 
      }

      &_hover {
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: bold;        
        opacity: 0;
        transition: opacity 0.5s linear; 
      }

      &:after {
        z-index: 2;        
        position: absolute;
        top: 0;        
        width: 100%;
        height: 100%;
        margin-right: -1em;
        margin-left: -1.2em;
        visibility: visible;        
        background: linear-gradient(to right, $bright-blue, $light-blue, $bright-blue);
        opacity: 0;        
        transition: opacity 0.5s linear;
      }
    }    
  }


  .ui.form.form-group_tabbed {
    .hide {
      display: none !important;
    }

    .show {
      display: block;
    }

    .processing {
      background: $ice-blue !important;
    }

    .inline.fields {
      padding-top: 1em;

      .field {
        display: flex;
        flex: 0 1 auto;

        label {
          margin-top: 0.3em;
          color: $grey;
          width: 6.5em;
          text-align: center;
          line-height: 1.2;

          span {
            font-weight: normal;
            font-size: smaller;
          }
        }

        &:first-child {
          flex: 2 0 auto;
          padding-right: 0;
        }

        &:last-child {
          flex: 0 1 auto;
          padding-left: 0;
        }

        .ui.progress {
          width: 100%;
          background: $light-grey;
          border-radius: 0;
          margin: 0;

          .bar {
            border-radius: 0;
            height: 100%;
            background: $ice-blue;
            display: none;
          }

          .label {
            top: 0.5em;
            left: 0.5em;
            text-align: left;
            font-weight: normal;
          }
        }

        .ui.input {
          width: 100%;

          input {
            border: 0;
            background: $light-grey;
            border-radius: 0;
          }
        }
      }

      .ui.button {
        border-radius: 0;
        background: $light-blue;
        color: #fff;
        padding-left: 1em;
        padding-right: 1em;

        &:hover {
          background: darken($light-blue, 5%);
        }
      }
    }
  }
}
