@import "../../assets/styles/colors.scss";

.form-group_instructions {
  color: $grey;
  font-style: italic;
  font-size: 0.857em;
}

.ui.form.form-group_tabbed {
  .hide {
    display: none !important;
  }

  .show {
    display: block;
  }

  .processing {
    background: $ice-blue !important;
  }

  .inline.fields {
    padding-top: 1em;

    .field {
      display: flex;
      flex: 0 1 auto;

      label {
        margin-top: 0.3em;
        color: $grey;
        width: 6.5em;
        text-align: center;
        line-height: 1.2;

        span {
          font-weight: normal;
          font-size: smaller;
        }
      }

      &:first-child {
        flex: 2 0 auto;
        padding-right: 0;
      }

      &:last-child {
        flex: 0 1 auto;
        padding-left: 0;
      }

      .ui.progress {
        width: 100%;
        background: $light-grey;
        border-radius: 0;
        margin: 0;

        .bar {
          border-radius: 0;
          height: 100%;
          background: $ice-blue;
          display: none;
        }

        .label {
          top: 0.5em;
          left: 0.5em;
          text-align: left;
          font-weight: normal;
        }
      }

      .ui.input {
        width: 100%;

        input {
          border: 0;
          background: $light-grey;
          border-radius: 0;
        }
      }
    }

    .ui.button {
      border-radius: 0;
      background: $light-blue;
      color: #fff;
      padding-left: 1em;
      padding-right: 1em;

      &:hover {
        background: darken($light-blue, 5%);
      }
    }
  }
}
