@import "../../assets/styles/colors.scss";

footer {
  text-align: center;
  margin: 5.78em;

  p {
    font-size: 11px;
  }

  img {
    width: 36px;
    margin-top: 1em;
  }

  .footer_link {
    font-size: 11px;
    padding: 10px;
  }
  
}
