@import "../../assets/styles/colors.scss";

.bar {
  header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .ui.container {
    position: relative;
  }

  .title {
    color: #fff;
    font-size: 0.8em;
    &:hover {
      color: #fff;
    }
    @media screen and (min-width: 768px) {
      font-size: 0.9em;
    }
  }

  &--home {
    margin-bottom: 3em;
    background: url("../../assets/images/cdp_home_hero.jpg");
    background-size: cover;

    header {
      flex-direction: column;
      padding: 10em 0 1em;
      @media screen and (max-width: 767px) {
        padding: 4em 0 2em;
      }
    }

    .seal {
      width: 50px;
      margin-bottom: 0.5em;

      @media screen and (min-width: 768px) {
        margin-bottom: 1em;
        width: 60px;
      }
    }

    .title {
      font-size: 2.5rem;
      @media screen and (min-width: 768px) {
        font-size: 4.285714rem;
      }
    }

    h1.ui.header {
      .sub.header.subtitle {
        margin: 0.5em 0;
        font-size: 1em;
        color: #fff;
      }

      .sub.header.subtext {
        margin: 0;
        font-size: 18px;
        color: #fff;
      }
    }

    .search_bar {
      margin: 3em auto;
    }
  }

  &:not(.bar--home) {
    .seal {
      display: inline-block;
      margin: 0.3em;
      width: 30px;
      @media screen and (min-width: 768px) {
        width: 34px;
      }
    }

    h1.ui.header {
      min-width: 300px;
      margin: 0;
      padding: 0;
      text-align: left;
      @media screen and (min-width: 768px) {
        margin-top: 8px;
      }

      .sub.header.subtitle,
      .sub.header.subtext {
        display: none;
      }
    }
  }

  /***  
    About, Help, Privacy, Contact - no searchbar, white bG  
  ***/
  &--about,
  &--help,
  &--privacy,
  &--contact {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(60deg, $light-blue 3%, $bright-blue 100%);

    .title,
    .title:hover {
      color: #fff;
    }

    .search_bar {
      display: none;
    }
  }

  /*** 
    Results, Video - searchbar  
  ***/
  &--results,
  &--video,
  &--admin {
    header {
      @media screen and (max-width: 767px) {
        text-align: left;
      }
    }

    .search_bar {
      width: 100%;
      padding: 0.8em 0;
      box-shadow: none;
      @media screen and (min-width: 768px) {
        width: 400px;
        padding: 0.6em;
      }
      @media screen and (min-width: 900px) {
        width: 500px;
      }
    }
  }

  /*** 
    Login - no searchbar, only feedback nav item 
  ***/
  &--login,
  &--register {
    @media screen and (min-width: 768px) {
      height: 64px;
    }
    .search_bar {
      display: none;
    }
  }

  /***  
    Blue bG bar 
  ***/
  &--results,
  &--video,
  &--login,
  &--register,
  &--admin {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-image: linear-gradient(60deg, $light-blue 3%, $bright-blue 100%);
  }
}
