.Search__component {
  background-color: $allPorts3;
  padding: 32px 0;
  border-bottom: 1px solid $allPorts2;
  @media (max-width: 786px) {
    padding: 32px 24px;
  }
}
.Search__basic {
  flex-direction: row;
}
.Search__query__container {
  flex: .8;
  background-color: #fff;
  padding: 0 10px 5px;
}
.Search__query__submit {
  flex: .2;
  background-color: #fff;
  padding: 28px 10px 0 0;
}
.Search__toggle {
  font-size: .8rem;
  padding-top: 8px;
}
.SearchAdvanced__component {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  margin-top: 16px;
}
.SearchAdvanced__row {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.SearchAdvanced__filter {
  @media (max-width: 768px) {
    width: 100% !important;
  }
  input, div {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
}


/****************** 
  SHAWN - TEMP 
*******************/
.ui.header .sub.header {
  margin-bottom: 30px;
}


.search_bar {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}


/* Form */
.ui.form {
  
  .fields {
    @media screen and (max-width: 767px) {
      flex-wrap: nowrap;
      margin: 0;
    }
    @media screen and (max-width: 540px) {
      flex-wrap: wrap;
    }

    .field {
      padding-left: 0;
      padding-right: 0;

      &.search_input {
        width: 100%;
        font-size: 18px;
        @media screen and (max-width: 540px) {
          flex: 1;
        }

        input[type='text'] {
          @media screen and (max-width: 640px) {
            padding-top: 13px;
          }
        }
      }      

      .ui.button {
        padding: 14px 11px;
        border-left: none;
        font-size: 18px;
        background-color: transparent;
        color: #0071bc;
        position: absolute;
        right: 0;
        @media screen and (max-width: 767px) {
          margin: 0;
        }
      }
    }
  }

}

/****************** 
  END TEMP 
*******************/
