@import "../../assets/styles/colors.scss";

.ui.header .sub.header {
  margin-bottom: 30px;
}

.search_bar {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

/* Form */
.search_bar {
  .ui.form {
    .search_input {
      width: 100%;
      font-size: 18px;
      i {
        color: $light-blue;
        opacity: 0.9;
      }

      &.right {
        input[type="text"] {
          text-align: right;
        }
      }
    }
  }
}
