.card_downloadHover {    
  position: absolute;
  bottom: -55px;
  left: -80px; 
  z-index: 1;
  display: none;     
  width: 175px;      
  padding: 8px;
  border-radius: 3px;      
  text-align: center;
  background-color: #eee;
  color: #5b616b;      

  &:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;        
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;        
    border-bottom: 16px solid #eee;
  }

  &.hideOnPopup {
    display: none !important;
  }

  > p {
    font-size: 11px;
    font-weight: 300;
  }
}    