@import './components/Search/_Search';
@import './components/Results/_Results';
@import './components/Notification/_Notification';
@import './components/HeaderBar/_HeaderBar';
@import './components/Footer/_Footer';

.App__component {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content__screen {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1;
}

