$blackPearl: #08182D;
$blackPearl1: #303647;
$blackPearl2: #4A5566;
$blackPearl3: #6C788C;
$blackPearl4: #7F95AA;
$allPorts: #038098;
$allPorts1: #66A4B3;
$allPorts2: #83B2BF;
$allPorts3: #BED3DA;
$allPorts4: #DCE6E9;
$scarlet: #E02000;
$scarlet1: #EA3624;
$scarlet2: #EB6543;
$scarlet3: #F38A67;
$scarlet4: #F5AE92;
$tundora: #484848;
$doveGray: #6E6E6E;
$gray: #919191;
$silver: #C2C2C2;
$white: #FFFFFF;
$black: #000000;

$red500: #F44336;
$greenA400: #00E676;
$white: #FFFFFF;
$grey900: #212121;
