/* OLD COLORS */
$red500: #F44336;
$greenA400: #00E676;
$grey900: #212121;
$allPorts: #038098;
$allPorts1: #66A4B3;
$allPorts2: #83B2BF;
$allPorts3: #BED3DA;
$allPorts4: #DCE6E9;

$blue: #112e51;
$light-blue: #0071bc;
$light-grey: #f1f1f1;
$grey: #5b616b;