$blue: #112e51;
$ice-blue: #e1f3f8;
$light-blue: #0071bc;
$bright-blue: #02bfe7;
$blue-green: #d6d7d9;
$light-grey: #f1f1f1;
$medium-grey: #b2b4b8;
$alt-grey: #d6d7d9;
$grey: #5b616b;
$gold: #fdb81e;
