$blue: #112e51;
$ice-blue: #e1f3f8;
$light-blue: #0071bc;
$bright-blue: #02bfe7;
$twitter-blue: #1da1f2;
$fb-blue: #3b5998;
$blue-green: #d6d7d9;
$light-grey: #f1f1f1;
$medium-grey: #b2b4b8;
$alt-grey: #d6d7d9;
$grey: #5b616b;
$shuttle-grey: #5b6168;
$gold: #fdb81e;
$orange: #faab1a;
