.cdp_static_page {
  .notFoundPage {
    margin-top: 8em;
    @media screen and (min-width: 768px) {
      margin-top: 5em;
    }

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    h2 {
      margin: 2em 0;
    }

    p {
      margin: 0.4em 0;
    }
  }
}