@import "../../assets/styles/colors.scss";

nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 0;
  @media screen and (min-width: 768px) {
    padding: .8em;
  }
}

nav .ui.compact.menu {
  height: 100%;
}

nav .ui.menu .item {  
  color: $blue;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  @media screen and (min-width: 993px) and (max-width: 1085px) {
    &:not(.feedback) {
      padding: 5px !important;
    }    
  }

  &.feedback {
    margin-right: 0;
    border-radius: 0 !important;
    color: $blue !important;
    background-color: $orange;

    &:hover {
      border-bottom: none !important;
      background-color: $orange;
    }
  }
}

nav .content.icon {
  color: $blue;
  font-size: 1.5em;
  margin-top: 0.5em;
  cursor: pointer;
}

.bar nav .content.icon {
  margin: 0.5em;
  float: right;
}

nav .mobileMenu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: right;
  background-image: linear-gradient(60deg, $light-blue 2%, $bright-blue 100%);
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

nav .mobileMenu li {
  padding-top: 2em;
  text-decoration: none;
}

nav .mobileMenu li a {
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.05em;

  &.feedback {
    padding: 10px;
    color: $blue;
    background-color: $orange;
  }
}

nav .mobileMenu .close.icon {
  font-size: 1.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

