@import "../../assets/styles/colors.scss";

.bar--home nav {
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (max-width: 767px) {
    position: fixed;
  }

  .content.icon {
    float: right;
    margin: 0.5em;
    color: #fff;      
  }

  .ui.menu .item:not(.feedback) {
    border-radius: 0;
    color: white;

    &:hover {
        
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
    }
  }
}

.bar--login nav {
  
  .ui.menu .item:not(.feedback) {
    display: none;
  }
}

nav {
  z-index: 2;
  padding: 0;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media screen and (min-width: 768px) {
    padding: .8em;
  }

  .ui.compact.menu {
    height: 100%;
  }

  .ui.menu .item {      
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: $blue;
    @media screen and (min-width: 993px) and (max-width: 1085px) {
      &:not(.feedback) {
        padding: 5px !important;
      }    
    }

    &.feedback {
      margin-right: 0;
      border-radius: 0 !important;
      color: $blue !important;
      background-color: $orange;

      &:hover {
        border-bottom: none !important;
        background-color: $orange;
      }
    }
  }

  .content.icon {
    margin-top: 0.5em;
    font-size: 1.5em;
    color: $blue;    
    cursor: pointer;

    &.mobileNav {
      display: none;
    }
  }

  .mobileMenu {
    position: fixed;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
    font-weight: bold;    
    background-image: linear-gradient(60deg, $light-blue 2%, $bright-blue 100%);
    justify-content: right;
    list-style: none;

    li {
      padding-top: 2em;
      text-decoration: none;

      a {
        font-size: 1.3em;
        letter-spacing: 0.05em;
        color: white;        

        &.feedback {
          padding: 10px;
          color: $blue;
          background-color: $orange;
        }      
      }
    }

    .close.icon {      
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      font-size: 1.5em;
      cursor: pointer;
    }    
  }
}

