@import "../../assets/styles/colors.scss";

.ui.container .about {
  max-width: 1000px;
  margin: 4em auto;
}

main.ui.container .about h1 {
  font-size: 4em;
  text-align: center;
  padding: 1em 0;
}

.about h2.ui.header, .about h1.ui.header {
  color: $blue;
}

.aboutStarted {
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
}

.about blockquote {
  text-align: center;
  margin: 3em 0;
}